/autoload
/.netrwhist
/tags
/cheatsheet/cheatsheet.aux
/cheatsheet/cheatsheet.lob
/cheatsheet/cheatsheet.log
/cheatsheet/cheatsheet.pdf
/cheatsheet/cheatsheet.synctex.gz
/cheatsheet/cheatsheet.toc
/cheatsheet/cheatsheet.out
